.home {
    width: 100%;
    background: #000;
    min-height: 100vh;
    padding-bottom: 120px;
}

.container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 16px;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

.movie {
    width: 100%;
    align-items: center; 
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
}

.text {
    color: #FEFEFE;
    font-size: 12px;
    margin: 0;
}