header {
    
}

.text {
    font-size: 20px;
    margin: 0;
    padding: 14px 15px;
    color: #FEFEFE;
}

@media (min-width: 768px) {
    .text {
        padding: 14px 43px;
    }
}

@media (min-width: 1440px) {
    .text {
        font-size: 32px;
        padding: 14px 80px;
    }
}