.movieInfo {
    width: 100%;
    padding-bottom: 100px;
}

.wrap {
    width: 80%;
    margin: 0 auto;
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 12px;
    color: #C1C1C1;
}
.span {
    font-weight: 600;
}

.text {
    font-size: 1.2rem;
    color: #fff;
}

.overview {
    font-size: 1rem;
}

p {
    margin: 0;
}

.button {
    color: #fff;
    padding-top: 40px;
}

@media (min-width: 768px) {
    .movieInfo {
        padding: 40px 0;
    }

    .img, .textBox {
        width: 70%;
        margin: 0 auto;
    }

    .button {
        width: 70%;
        margin: 0 auto;
    }
}

@media (min-width: 1440px) {
    .movieInfo {
        min-height: 100vh;
        padding-top: 40px;
    }

    .wrap {
        width: 88%;
    }

    .container {
        display: flex;
        gap: 40px;
    }

    .img {
        width: 40%;
    }

    .text {
        font-size: 2rem;
    }

    .castContainer {
        line-height: 1.5;
        display: flex;
    }

    .cast,
    .genres  {
        display: flex;
        gap: 8px;
    }

    .button {
        width: 100%;
        padding-top: 24px;
    }
}