.movieInfo {
    width: 100%;
    padding-bottom: 100px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.img {
    width: 100%;
}

.img img {
    width: 100%;
}

.text {
    font-size: 1.2rem;
}

.overview {
    font-size: 1rem;
}